
<!-- VERSÃO COMENTADA É DE ANTES DO EXEMPLO DE ESCONDER MENU QUANDO USA LOGIN  -->
 <nav>
    <div class="nav-wrapper">
        <a routerLink="" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
            <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
            <li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Curso com id</a></li>
            <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
        </ul>
    </div>
</nav> 

<!-- <nav *ngIf="mostrarMenu">
    <div class="nav-wrapper">
        <a routerLink="/home" class="brand-logo right">Inicio</a>
        <ul id="nav-mobile">
            <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
            <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
            <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div> -->