<!--
Devolver os códigos com as devidas explicações, em comentários, sobre o funcionamento dos métodos, 
necessidade de imports, aplicações das funcionalidades, quando um arquivo componente se comunica 
com um template e vice-versa, etc.

 * Programadores: Pedro Sol B. Montes, Guilherme A. Dias 
 * Data:17/12/2019
-->


<!--Simples texto para ser visto na página-->

<div>
    <button class="btn btn-primary" (click)="decrementa()">-</button>

    <input type="text" [value]="valor" readonly #campoInput>
    <button class="btn btn-primary" (click)="incrementa()">+</button>
</div>