<!--
Devolver os códigos com as devidas explicações, em comentários, sobre o funcionamento dos métodos, 
necessidade de imports, aplicações das funcionalidades, quando um arquivo componente se comunica 
com um template e vice-versa, etc.

 * Programadores: Pedro Sol B. Montes, Guilherme A. Dias 
 * Data:17/12/2019
-->


<!--Simples texto para ser visto na página-->


<section class="property-binding">

    <article>
        <h3>Interpolation/Interpolação</h3>

        <!--Utliza a interpolaçaõ para chamar o método da função anteriormente -->
        <p>String renderizada com interpolação: {{ url }}</p>

        <!--Utliza a interpolaçaõ para chamar o método da função anteriormente -->
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>

        <!--Utliza a interpolaçaõ para chamar o método da função anteriormente -->
        <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>

        <!--Utliza a interpolaçaõ para chamar o método da função anteriormente -->
        <p></p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso()}}

    </article>


    <!---------Article para mostrar Imagens da "API"-------->

    <article>
        <h3>Property binding</h3>

        <!--Pega a imagem com ulização de interpolação pela função atribuida-->
        <img src="{{ urlImagem }}">
        <!--Pega a imagem com ulização de interpolação pela função atribuida-->
        <img [src]=" urlImagem ">
        <!--Pega a imagem com ulização de interpolação pela função atribuida-->
        <img bind-src="urlImagem">

    </article>
    <!--------------------Fim das Imagens---------------------->


    <!--------------------Inicio dos das Alerts---------------------->
    <article>
        <h3>Classe Style Binding</h3>
        <div>
            Selecione uma classe:

            <select #classe (change)="0">
                    <option value="alert-success">Sucesso</option>
                    <option value="alert-info">Info</option>
                    <option value="alert-warning">Alerta</option>
                    <option value="alert-danger">Erro</option>
                </select>
        </div>
        <br><br>

        <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
        <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
        <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

        <div class="alert {{ classe.value }}" role="alert">
            Texto colorido conforme o valor do combobox
        </div>

        <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
            Esse texto somente aparece em caso de erro
        </div>
    </article>

    <!--------------------Fim das Alerts---------------------->

</section>


<!--------------------Eventos para cçique---------------------->
<section class="event-binding">

    <article>
        <h3>EVENT BINDING</h3>

        <div>
            <button (click)="botaoClicado()" class="btn btn-primary">clique!</button>

            <br><br>

            <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)" (blur)="salvarValor(campoInput.value)" #campoInput/>


            <!--Utliza a interpolaçaõ para chamar o método da função anteriormente -->
            <p>Valor atual: {{ valorAtual }}</p>

            <!--Utliza a interpolaçaõ para chamar o método da função anteriormente -->
            <p>Valor salvo: {{ valorSalvo }}</p>

            <br><br>

            <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
                Passe o mouse sobre este texto

            </span>
            <br><br>

        </div>
    </article>

    <!--------------------Fim dos eventos para clique---------------------->

    <!--------------------Obtem Nome ---------------------->
    <section class="two-way-binding">
        <article>
            <h3>Two-way data binding</h3>
            <div>
                <input type="text" [value]="nome" (input)="nome = $event.target.value" />

                <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />

                <input type="text" [(ngModel)]="nome" />

                <!--Utliza a interpolaçaõ para chamar o método da função anteriormente -->
                <p>Você digitou {{ nome }} </p>

                <br><br><br>
            </div>

            <div>

                <!--Utliza a interpolaçaõ para chamar o método da função anteriormente -->
                <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade </p>

                <input type="text" [(ngModel)]="pessoa.nome" />
                <input type="text" [(ngModel)]="pessoa.idade" />

                <br><br><br>
            </div>
        </article>

        <!--------------------Fim Obtem Nome ---------------------->

    </section>

    <section class="input-output-properties">

        <article>
            <h3>INPUT/OUTPUT PROPERTIES</h3>
            <app-curso [nome]="nomeDoCurso"></app-curso>

            <br><br><br>

            <app-contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></app-contador>

            <br><br><br>

        </article>

    </section>