<!--
Devolver os códigos com as devidas explicações, em comentários, sobre o funcionamento dos métodos, 
necessidade de imports, aplicações das funcionalidades, quando um arquivo componente se comunica 
com um template e vice-versa, etc.

 * Programadores: Pedro Sol B. Montes, Guilherme A. Dias 
 * Data:20/12/2019
-->


<!---------------Simples texto para ser visto na página----------------->




<!--<app-diretiva-ngif></app-diretiva-ngif>-->

<!--<app-diretiva-ngswitch>npm </app-diretiva-ngswitch>-->

<!--<app-diretiva-ngfor></app-diretiva-ngfor>-->

<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->

<!--<app-diretiva-ngstyle></app-diretiva-ngstyle>-->

<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
    <div class="titulo">Título do painel</div>
    <div class="corpo">Conteúdo passado para o componente</div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>